/*
* CONTANTES
*/
:root {
    --green: #00ff00;
    --black: #000000;
    --white: #ffffff;
}

/*
* Seletor universal ( * )
* Definir propriedade de Color
*/
* {
    color: var(--fontColor); /* var fontColor foi criada no light e dark themes */
    font-family: Arial, Helvetica, sans-serif;
}

/*
* BODY
* Usa var bg que foi criada no light e dark themes
*/
body {
    background: var(--bg); /* var bg foi criada no light e dark themes */
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

.list {
    list-style: square;
}

/*
* LIGHT e DARK Themes
* Cria variável --bg e --fontColor
* Adiciona valores, usando as contantes de cor
*/
.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
}